.sighIn__input {
  height: 44px;
  width: 466px;
  background-color: #333243;
  color: white;
  padding-left: 15px;
  @media (max-width: 660px) {
    width: 320px;
  }
  @media (max-width: 320px) {
    width: 300px;
  }
}

.sighIn__input__white {
  height: 44px;
  width: 466px;
  background: #f7f7f7;
  padding-left: 15px;
  @media (max-width: 660px) {
    width: 350px;
  }
  @media (max-width: 425px) {
    width: 320px;
  }
  @media (max-width: 375px) {
    width: 300px;
  }
}

.sighIn__input::placeholder {
  font-size: 16px;
}

.input__container {
  position: relative;
}

.error__massage {
  position: absolute;
  padding-top: 5px;
  width: 70%;
  color: #d84363;
  font-size: 14px;
  @media (max-width: 1024px) {
    width: 100%;
  }
  @media (max-width: 660px) {
    font-size: 12px;
  }
}
