.modals__container {
  position: relative;
}

.forgotPassword__Title {
  color: black;
  align-self: flex-start;
  font-size: 36px;
  font-weight: 700;
  margin-top: 48px;
  margin-bottom: 32px;
}

.forgotPassword__text {
  color: black;
  width: 450px;
  padding-bottom: 25px;
}

.Close {
  position: absolute;
  top: 5px;
  right: -25px;
  cursor: pointer;
}

.button__container {
  margin-left: -30px;
}

.wrong__email {
  color: #d84363;
  margin-top: 20px;
  align-self: flex-start;
}
