.SignIN__Header__Title {
   color: #fff;
   font-size: 16px;
   letter-spacing: 8px;
   margin-bottom: 28px;
}

.SignIN__Header__Logo {
   max-width: 337px;
}

.SignIn__Header {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
