$white: #ffff;
$black: #333333;
$purple: #5d41b6;
$main-background: linear-gradient(117.38deg, #242335 58.1%, #312f48 100%);
$container-background: rgba(48, 48, 74, 0.3);
$container-background-0: rgba(48, 48, 74, 0);

$hide-formulas-bar: #27263b;
$teammate-card-hover: #2e2e46;
$input-login-background: #333243;
$input-background: #30304a;
$input-background-opacity-7: rgba(48, 48, 74, 0.7);

$dashed-border: #7171a5;
$statistic-container: #2e2e46;
$modal-font: rgba(36, 35, 53, 0.5);

$red: #d84363;
$grey: #f7f7f7;
$black: #242335;
$green: #50b56d;
$orange-vip: #f08f48;
$dark-grey: #91919a;
$half-dark-grey: #a7a7a7;
$input-selected: #bfbff2;
$vip-border: #f0cd73;
$empty-color: rgba(255, 255, 255, 0.2);
$white-opacity-1: rgba(255, 255, 255, 0.1);
$white-opacity-3: rgba(255, 255, 255, 0.3);
$white-opacity-5: rgba(255, 255, 255, 0.5);
$black-opacity-5: rgba(0, 0, 0, 0.5);
$transparent: 'transparent';
