@import "../../../../styles/fonts/fontsSettings/fonts.scss";
@import "../../../../styles/color.scss";
.signIn__form__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $container-background;
  border-radius: 5px;
  height: 450px;
  @media (max-width: 660px) {
    width: 466px;
  }
}

.signIn__form__title h1 {
  color: $white;
  font-family: $font-bold;
  font-size: 32px;
  margin-top: 51px;
  @media (max-width: 1024px) {
    margin-top: 0px;
  }
}

.signIn__form__input__container {
  display: flex;
  flex-direction: column;
  padding: 63px 108px 10px;
  width: 683px;
  @media (max-width: 1024px) {
    padding: 33px 280px 0px;
    width: 1024px;
  }
  @media (max-width: 660px) {
    padding: 33px 73px 0px;
    width: 466px;
  }
  @media (max-width: 320px) {
    padding: 33px 0px 0px;
    width: 300px;
  }
}

.login_email__form {
  height: 44px;
  position: relative;
  display: inline-block;
  margin-bottom: 25px;
}

.login_email_input::placeholder {
  font-size: 16px;
}

.modals__container {
  position: relative;
}

.password__input {
  height: 44px;
  background-color: #333243;
  padding-left: 24px;
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 0;
  padding: 4px 11px;
  color: white;
}

.password_form {
  position: relative;
}

.forgot__password__modal__text {
  align-self: flex-end;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  margin-top: 12px;
  display: flex;
  cursor: pointer;
  @media (max-width: 1024px) {
    align-self: center;
    position: absolute;
    bottom: 35px;
    margin-top: 0px;
    font-size: 16px;
  }
}

.forgot__password {
  display: flex;
  flex-direction: column;
}

.forgotPassword__Title {
  color: black;
  align-self: flex-start;
  font-size: 36px;
  font-weight: 700;
  margin-top: 48px;
  margin-bottom: 32px;
  padding-left: 33px;
}

.forgotPassword__text {
  color: black;
  width: 450px;
  padding-bottom: 25px;
}

.forgotPassword__input {
  height: 44px;
  width: 466px;
  background: #f7f7f7;
  padding-left: 15px;
}

.forgotPassword__input::placeholder {
  font-size: 16px;
}

.Close {
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
}

.error__popup__massage {
  align-self: flex-start;
  padding-left: 38px;
  padding-top: 15px;
  color: rgba(255, 0, 0, 0.705);
}

.error__password__input {
  padding-top: 10px;
  color: rgba(255, 0, 0, 0.705);
}

.wrong__password__or__email {
  color: #d84363;
  padding-left: 107px;
  padding-top: 15px;
  align-self: flex-start;
  @media (max-width: 1024px) {
    padding-top: 0px;
    position: relative;
    top: 35px;
    padding-left: 280px;
  }
  @media (max-width: 660px) {
    padding-left: 73px;
    font-size: 12px;
  }
  @media (max-width: 320px) {
    padding-left: 83px;
    font-size: 12px;
  }
}

.ERRROR {
  font-size: 60px;
  color: rgba(255, 0, 0, 0.705);
}
